:root {
    --primary-color: #c3d500;
    --secondary-color: #364c4f;
    --text-color: #364c4f;

}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color);
    margin: 0;
    margin-bottom: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.intro h1 {
    color: var(--primary-color);
    font-weight: 550;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    padding: 20px;
    gap: 0.5em;
    max-width: 95vw;
    width: 700px;
}

hr {
    border: 0;
    height: 1px;
    background: var(--primary-color);

    width: 100%;
}

.assets {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%
}

table .asset {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

table .type {
    font-weight: 500;
}

table .id {
    color: var(--secondary-color);
    font-weight: 300;
}

table .serial {
    color: var(--secondary-color);
    font-weight: 300;
}

table {
    width: 100%;
    padding: 5px;
    border-collapse: collapse;
    font-size: 0.9em;
}

tr {
    border: 1px solid var(--primary-color);
}

th {
    border: 1px solid var(--primary-color);
    padding: 5px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
}

td {
    border: 1px solid var(--primary-color);
    padding: 5px;
    text-align: center;
    text-wrap: wrap;
    word-wrap: break-word;


}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    background-color: var(--secondary-color);
}

button:disabled {
    background-color: #d3d3d3;
    color: #a3a3a3;
    cursor: not-allowed;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: 0.1s;
}

a:hover {
    color: var(--primary-color);
}

.actions {
    display: flex;
    gap: 1em;
    align-items: center;
}

#jsonerror {
    color: red;

    font-size: 0.9em;
    font-weight: 500;
}